.form input {
  border-radius: 2px;
  border: 1px solid #e05d26;
  background: #e05d26;
  cursor: pointer;
  font-weight: bold;
  color: white;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #e05d26;
  border: 1px solid #e05d26;
  border-radius: 2px;
  padding: 0;
}
.form input::placeholder {
  color: white;
}
.form select {
  border-radius: 2px;
  border: 1px solid #e05d26;
  background: #e05d26;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.option:checked {
  background-color: yellowgreen;
}
.option:hover {
  background-color: yellow;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.top {
  background: rgb(38, 39, 43);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.6em;
}

.top-button {
  background: rgb(38, 39, 43);
  color: white;
}
.separator {
  border: 1px solid tomato;
  background-color: tomato;
  margin: 0;
  padding: 0;
}
.top-button {
  border-radius: 4px;
  border: 2px solid #e05d26;
  background: #e05d26;
  padding: 0.2em;
  margin: 0.5em;
  cursor: pointer;
  font-weight: bold;
}
.top-button:hover {
  background-color: rgb(214, 67, 41);
  border-color: rgb(214, 67, 41);
}
